body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 130vh;
    width: 100vw;
    background: linear-gradient(180deg, #21548d, #659fc5);
}

h1 {
    margin-top: 100px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

button {
    align-self: center;
    border-radius: 10px;
    width: 60%;
    height: 30%;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 17px;
    background-color: #041b31;
}

label {
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    width: 25vw;
    height: 50px;
}

input::placeholder {
    padding: 5%;
    font-size: 15px;
}

.formu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #144674;
    border-radius: 20px;
    height: 40vh;
    padding: 2%;
    width: 25vw;
    margin-bottom: 100px;
    box-shadow:  0 20px 50px rgba(0, 0, 0, 0.5);;
}


div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #041b31;
    border-radius: 20px;
    gap: 30px;
    height: 40vh;
    padding: 2%;
    width: 40vw;
    margin-bottom: 100px;
    box-shadow:  0 20px 50px rgba(0, 0, 0, 0.5);;
}

h4 {
    margin: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}